@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.container {
  margin: 8% auto 0;
  width: 70%;
  color: #202124;
  border: 1px solid rgba(32, 33, 36, 0.3);
  border-radius: 5px;
}

/* Stop watch  */
.watch {
  display: none;
}
.heading {
  display: flex;
  border-bottom: 1px solid rgba(32, 33, 36, 0.3);
  align-items: center;
  justify-content: space-around;
  padding: 30px 0;
  font-size: 1.5em;
}
.stopWatch {
  display: flex;
  gap: 20px;
  padding: 25px;
  height: 250px;
  justify-content: center;
  align-items: center;
}
.stopWatch p {
  font-size: 5em;
  width: 130px;
  text-align: center;
}
.stopWatch span {
  font-size: 22px;
}
.btnBox {
  display: flex;
  align-items: center;
  padding: 25px;
  border-top: 1px solid rgba(32, 33, 36, 0.3);
  justify-content: space-between;
}
#start,
#stop,
#reset {
  font-size: 1em;
  width: 120px;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  border: 1px solid #1a73e8;
  background-color: #1a73e8;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s linear;
}
#start:hover,
#stop:hover {
  background-color: #1b66c9;
  border: 1px solid #1b66c9;
}
button#reset {
  background-color: #fff;
  color: #1a73e8;
  border: 1px solid rgba(32, 33, 36, 0.3);
}
#reset:hover {
  border: 1px solid #f8f9fa;
  background-color: #f8f9fa;
}
#stop {
  display: none;
}
#fullScreen {
  cursor: pointer;
  display: flex;
  gap: 20px;
}
#screenShort {
  cursor: no-drop;
}
#watchHeader,
#timerHeader {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
#timerHeader {
  cursor: no-drop;
}
#exit {
  display: none;
}

/* Timer */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.timer > .stopWatch {
  display: flex;
  gap: 0;
}
.timer input {
  all: unset;
  font-size: 5em;
  width: 90px;
  text-align: center;
}
.timer > .stopWatch span {
  margin: 35px 10px 0 0px;
}
